<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">United States</h3>
        <!--Vertical Bar Chart-->
        <ngx-charts-bar-vertical [view]="[400,200]" [results]="Case1" [xAxisLabel]="'Months'"
          [yAxisLabel]="'Confirmed Cases'" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="true"
          [xAxis]="true" [yAxis]="true" [gradient]="true">
        </ngx-charts-bar-vertical>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">India</h3>
        <!--Pie Chart-->
        <ngx-charts-pie-chart [view]="[350, 230]" [scheme]="colorScheme" [results]="Case2" [gradient]="true"
          [labels]="true" [doughnut]="false" (select)="'Item clicked'" (activate)="'Activate'"
          (deactivate)="'Deactivate'">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Brazil</h3>
        <!--Horizontal Bar Chart-->
        <ngx-charts-bar-horizontal [view]="[400,200]" [results]="Case3" [xAxisLabel]="'Months'"
          [legendTitle]="'Monthwise confirmed cases'" [yAxisLabel]="'Confirmed Cases'" [legend]="false"
          [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true"
          [scheme]="colorScheme">
        </ngx-charts-bar-horizontal>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Russian Federation</h3>
        <!-- Pie Chart-->
        <ngx-charts-pie-chart [view]="[350, 230]" [scheme]="colorScheme" [results]="Case4" [gradient]="true"
          [labels]="true" [doughnut]="false" (select)="'Item clicked'" (activate)="'Activate'"
          (deactivate)="'Deactivate'">
        </ngx-charts-pie-chart>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">The United Kingdom</h3>
        <!--Gauge Chart-->
        <ngx-charts-gauge [view]="[400, 250]" [scheme]="colorScheme" [results]="Case5" (select)="'Item clicked'"
          (activate)="'Activate'" (deactivate)="'Deactivate'">
        </ngx-charts-gauge>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">France</h3>
        <!--Tree map Chart-->
        <ngx-charts-tree-map [view]="[400,200]" [scheme]="colorScheme" [results]="Case6" [gradient]="false"
          [animations]="true">
        </ngx-charts-tree-map>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Italy</h3>
        <!--Gauge Chart-->
        <ngx-charts-gauge [view]="[400, 250]" [scheme]="colorScheme" [results]="Case7" (select)="'Item clicked'"
          (activate)="'Activate'" (deactivate)="'Deactivate'">
        </ngx-charts-gauge>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Spain</h3>
        <!--Vertical Bar Chart-->
        <ngx-charts-bar-vertical [view]="[400,200]" [results]="Case8" [xAxisLabel]="'Months'"
          [legendTitle]="'Monthwise confirmed cases'" [yAxisLabel]="'Confirmed Cases'" [legend]="false"
          [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
        </ngx-charts-bar-vertical>

      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Germany</h3>
        <!--Horizontal Bar Chart-->
        <ngx-charts-bar-horizontal [view]="[400,200]" [results]="Case9" [xAxisLabel]="'Months'"
          [legendTitle]="'Monthwise confirmed cases'" [yAxisLabel]="'Confirmed Cases'" [legend]="false"
          [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true"
          [scheme]="colorScheme">
        </ngx-charts-bar-horizontal>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Colombia</h3>
        <!--Tree map Chart-->
        <ngx-charts-tree-map [view]="[400,200]" [scheme]="colorScheme" [results]="Case10" [gradient]="false"
          [animations]="true">
        </ngx-charts-tree-map>
      </div>
    </div>
  </div>
</div>