/* You can add global styles to this file, and also import other style files */

div.card {
    display: inline-block;
    width: 26rem;
    height: 16rem;
    border: 1px solid black;
}
h3 {
    text-align: center;
}
